{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
 <div style="text-align:center; margin-top: 100px;">
    <h1>Welcome to HRM Portal</h1>
    <p>Login to continue:</p>
 <a href="{{ path('app_login') }}">
        <button style="padding: 10px 20px;">Login</button>
    </a>
</div>

{% endblock %}
